.Table {
    border-collapse: collapse;
    border: 2px solid #293bb3;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
  
.Table th, td {
    padding: 5px 10px;
    cursor: pointer;
}

tr:nth-child(2n) {
    background-color: #dee2e8;
}

tr:hover {
    box-shadow: inset 0 0 5px #afb0b3;
}

th {
    background-color: #293bb3;
    color: #ffffff;
}

.Ascending::after {
    content: '▼'
}

.Descending::after {
    content: '▲'
}